<a href="https://colab.research.google.com/github/Srihari1510/DEV/blob/main/ztest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [2]:
df = pd.read_csv('/content/report_2018-2019.csv')
df.head()

,Overall rank,Country or region,Year,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,154,Afghanistan,2019,3.203,0.350,0.517,0.361,0.000,0.158,0.025
1,145,Afghanistan,2018,3.632,0.332,0.537,0.255,0.085,0.191,0.036
2,107,Albania,2019,4.719,0.947,0.848,0.874,0.383,0.178,0.027
3,112,Albania,2018,4.586,0.916,0.817,0.790,0.419,0.149,0.032
4,88,Algeria,2019,5.211,1.002,1.160,0.785,0.086,0.073,0.114

In [3]:
df[['Social support','Healthy life expectancy']].describe()

       Social support  Healthy life expectancy
count      312.000000               312.000000
mean         1.211026                 0.661295
std          0.300310                 0.252724
min          0.000000                 0.000000
25%          1.055750                 0.488250
50%          1.265500                 0.699000
75%          1.457500                 0.858000
max          1.644000                 1.141000

In [4]:
ztest ,pvalue = stests.ztest(df['Healthy life expectancy'], x2=None, value=146)
print(float(pvalue))
print(ztest)

0.0
-10158.090130063765

In [5]:
if pvalue<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted

In [7]:
ztest,pvalue1=stests.ztest(df['Social support'],df['Healthy life expectancy'],value=100)
print(float(pvalue1))

0.0

In [9]:
if pvalue1<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted